@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
    display: none;
}

.container-imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-right: 80px;
    margin-left: 80px;
}
#logo-facu{
    width: 320px;
    height: 100px;
    margin: 20px 0 20px 0; 
    
}
#img-adorno1{
    width: 70px;
    height: 80px;
    align-self: flex-start;
}
.container-inicio{
    background-color: #A8C6FA;
}
.card-a{
    background-color: #75A9F9;
}
.card-b{
    background-color: #C9F1FD;
}
.card-b .card-body{
    color: #75A9F9;
}
footer {
    text-align: center;
  }

 /* Ajusta el tamaño de las imágenes según tus necesidades */
 .logo {
    max-width: 150px;
    max-height: 100px;
}
.btn-volver{
    background-color: #4E1CB2;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.btn-volver:hover{
    background-color: #A8C6FA;
    color: white;
}

.cards-bg{
    background-color: #75A9F9;
}

#containerManoCorazon{
    /* alinear imagen a la derecha. */
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 0;
}
#manoCorazon{
    width: 230px;
    height: 250px;
}


/* Estilos específicos para el contenedor del canvas */
#plot-container, #prediction-container {
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Ajuste de tamaño del canvas */
canvas {
  width: 100% !important; 
  height: auto !important;
}
.custom-scroll {
    height: 500px; /* Define la altura máxima del contenedor */
    overflow-y: auto; /* Activa el scroll vertical */
  }


  #tablaContainer{
    font-size: 12px;
  }